<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | Able Pro Dashboard</title>
    <link rel="icon" href="./assets/images/favicon.svg" type="image/svg" />
    <link rel="stylesheet" href="./assets/css/fonts.css" />
    <script src="https://unpkg.com/feather-icons"></script>
    <link rel="stylesheet" href="./assets/css/jquery-jvectormap.css" />
    <link rel="stylesheet" href="./assets/css/style.css" />
  </head>
  <body>
    <div class="page-wrapper">
      <div class="sidebar">
        <div class="logo">
          <a href="./dashboard.html">
            <img src="./assets/images/logo/logo-white.svg" alt="Logo" />
          </a>
        </div>
        <div class="sidebar-content">
          <div class="user-card">
            <div class="user-profile">
              <div class="user-img">
                <img src="./assets/images/user/avatar-2.jpg" alt="user" />
              </div>
              <div class="user-detail">
                <h4>Jinkal Kalathiya</h4>
                <p>Administrator</p>
              </div>
              <a href="#" class="user-toggle">
                <i data-feather="menu"></i>
              </a>
            </div>
            <div class="user-link">
              <a href="#">
                <i data-feather="user"></i>
                <span>My Account</span>
              </a>
              <a href="#">
                <i data-feather="settings"></i>
                <span>Settings</span>
              </a>
              <a href="#">
                <i data-feather="lock"></i>
                <span>Lock Screen</span>
              </a>
              <a href="#">
                <i data-feather="power"></i>
                <span>Logout</span>
              </a>
            </div>
          </div>
          <div class="sidebar-menu">
            <ul>
              <li class="sidebar-header">
                <h5>Navigation</h5>
              </li>
              <li class="sidebar-dropdown">
                <a href="#">
                  <i data-feather="activity"></i>
                  <span>Dashboard</span>
                  <i data-feather="chevron-right"></i>
                </a>
                <div class="sidebar-dropdown-menu">
                  <a href="#">
                    <span>Default</span>
                  </a>
                  <a href="#">
                    <span>Analytics</span>
                  </a>
                  <a href="#">
                    <span>Finance</span>
                  </a>
                </div>
              </li>
              <li class="sidebar-dropdown">
                <a href="#">
                  <i data-feather="file"></i>
                  <span>Layouts</span>
                  <i data-feather="chevron-right"></i>
                </a>
                <div class="sidebar-dropdown-menu">
                  <a href="#">
                    <span>Vertical</span>
                  </a>
                  <a href="#">
                    <span>Horizontal</span>
                  </a>
                  <a href="#">
                    <span>Layout 2</span>
                  </a>
                  <a href="#">
                    <span>Compact</span>
                  </a>
                  <a href="#">
                    <span>Tab</span>
                  </a>
                </div>
              </li>
              <li class="sidebar-header">
                <h5>Widgets</h5>
              </li>
              <li>
                <a href="#">
                  <i data-feather="alert-circle"></i>
                  <span>Statistics</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <i data-feather="database"></i>
                  <span>Data</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <i data-feather="pie-chart"></i>
                  <span>Chart</span>
                </a>
              </li>
              <li class="sidebar-header">
                <h5>Admin Panel</h5>
              </li>
              <li>
                <a href="#">
                  <i data-feather="activity"></i>
                  <span>Dashboard</span>
                  <i data-feather="chevron-right"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i data-feather="activity"></i>
                  <span>Dashboard</span>
                  <i data-feather="chevron-right"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i data-feather="activity"></i>
                  <span>Dashboard</span>
                  <i data-feather="chevron-right"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i data-feather="activity"></i>
                  <span>Dashboard</span>
                  <i data-feather="chevron-right"></i>
                </a>
              </li>
              <li class="sidebar-header">
                <h5>Ui Components</h5>
              </li>
              <li>
                <a href="#">
                  <i data-feather="activity"></i>
                  <span>Dashboard</span>
                  <i data-feather="chevron-right"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i data-feather="activity"></i>
                  <span>Dashboard</span>
                  <i data-feather="chevron-right"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i data-feather="activity"></i>
                  <span>Dashboard</span>
                  <i data-feather="chevron-right"></i>
                </a>
              </li>
              <li class="sidebar-header">
                <h5>Forms</h5>
              </li>
              <li>
                <a href="#">
                  <i data-feather="activity"></i>
                  <span>Dashboard</span>
                  <i data-feather="chevron-right"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i data-feather="activity"></i>
                  <span>Dashboard</span>
                  <i data-feather="chevron-right"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i data-feather="activity"></i>
                  <span>Dashboard</span>
                  <i data-feather="chevron-right"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i data-feather="activity"></i>
                  <span>Dashboard</span>
                  <i data-feather="chevron-right"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i data-feather="activity"></i>
                  <span>Dashboard</span>
                  <i data-feather="chevron-right"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i data-feather="activity"></i>
                  <span>Dashboard</span>
                  <i data-feather="chevron-right"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i data-feather="activity"></i>
                  <span>Dashboard</span>
                  <i data-feather="chevron-right"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i data-feather="activity"></i>
                  <span>Dashboard</span>
                  <i data-feather="chevron-right"></i>
                </a>
              </li>
              <li class="sidebar-header">
                <h5>Table</h5>
              </li>
              <li>
                <a href="#">
                  <i data-feather="activity"></i>
                  <span>Dashboard</span>
                  <i data-feather="chevron-right"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i data-feather="activity"></i>
                  <span>Dashboard</span>
                  <i data-feather="chevron-right"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i data-feather="activity"></i>
                  <span>Dashboard</span>
                  <i data-feather="chevron-right"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i data-feather="activity"></i>
                  <span>Dashboard</span>
                  <i data-feather="chevron-right"></i>
                </a>
              </li>
              <li class="sidebar-header">
                <h5>Charts ^ Maps</h5>
              </li>
              <li>
                <a href="#">
                  <i data-feather="activity"></i>
                  <span>Dashboard</span>
                  <i data-feather="chevron-right"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i data-feather="activity"></i>
                  <span>Dashboard</span>
                  <i data-feather="chevron-right"></i>
                </a>
              </li>
              <li class="sidebar-header">
                <h5>Application</h5>
              </li>
              <li>
                <a href="#">
                  <i data-feather="activity"></i>
                  <span>Dashboard</span>
                  <i data-feather="chevron-right"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i data-feather="activity"></i>
                  <span>Dashboard</span>
                  <i data-feather="chevron-right"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i data-feather="activity"></i>
                  <span>Dashboard</span>
                  <i data-feather="chevron-right"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i data-feather="activity"></i>
                  <span>Dashboard</span>
                  <i data-feather="chevron-right"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i data-feather="activity"></i>
                  <span>Dashboard</span>
                  <i data-feather="chevron-right"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i data-feather="activity"></i>
                  <span>Dashboard</span>
                  <i data-feather="chevron-right"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i data-feather="activity"></i>
                  <span>Dashboard</span>
                  <i data-feather="chevron-right"></i>
                </a>
              </li>
              <li class="sidebar-header">
                <h5>Pages</h5>
              </li>
              <li>
                <a href="#">
                  <i data-feather="activity"></i>
                  <span>Dashboard</span>
                  <i data-feather="chevron-right"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i data-feather="activity"></i>
                  <span>Dashboard</span>
                  <i data-feather="chevron-right"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i data-feather="activity"></i>
                  <span>Dashboard</span>
                  <i data-feather="chevron-right"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i data-feather="activity"></i>
                  <span>Dashboard</span>
                  <i data-feather="chevron-right"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i data-feather="activity"></i>
                  <span>Dashboard</span>
                  <i data-feather="chevron-right"></i>
                </a>
              </li>
              <li class="sidebar-header">
                <h5>Others</h5>
              </li>
              <li>
                <a href="#">
                  <i data-feather="activity"></i>
                  <span>Dashboard</span>
                  <i data-feather="chevron-right"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i data-feather="activity"></i>
                  <span>Dashboard</span>
                  <i data-feather="chevron-right"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="page-body-wrapper">
        <header>
          <a href="javascript:void(0);" class="toggle-btn">
            <i data-feather="menu"></i>
          </a>
          <div class="search-bar">
            <form action="" method="post">
              <i data-feather="search"></i>
              <input type="search" name="search" id="" class="form-control" />
            </form>
          </div>
          <div class="menu-right">
            <ul>
              <li>
                <a href="#">
                  <i data-feather="sun"></i>
                </a>
              </li>
              <li class="dropdown">
                <a href="#">
                  <i data-feather="settings"></i>
                </a>
                <div class="dropdown-menu">
                  <a href="#">
                    <i data-feather="user"></i>
                    <span>My Account</span>
                  </a>
                  <a href="#">
                    <i data-feather="settings"></i>
                    <span>Settings</span>
                  </a>
                  <a href="#">
                    <i data-feather="headphones"></i>
                    <span>Support</span>
                  </a>
                  <a href="#">
                    <i data-feather="lock"></i>
                    <span>Lock Screen</span>
                  </a>
                  <a href="#">
                    <i data-feather="power"></i>
                    <span>Logout</span>
                  </a>
                </div>
              </li>
              <li>
                <a href="#">
                  <i data-feather="zap"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i data-feather="bell"></i>
                </a>
              </li>
              <li>
                <a href="#" class="user-setting">
                  <img
                    src="./assets/images/user/avatar-2.jpg"
                    alt="user-profile"
                  />
                </a>
              </li>
            </ul>
          </div>
        </header>
        <div class="page-body">
          <div class="row row-gap-30">
            <div class="col-12">
                <div class="breadcrumb">
                    <ol>
                        <li>
                            <a href="./dashboard.html">Dashboard</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Contact</a>
                        </li>
                    </ol>
                </div>
                <h2 class="page-title">Contact</h2>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Feel Free to Ask</h4>
                    </div>
                    <div class="card-body contact-form">
                        <form action="" method="post">
                            <div class="row">
                                <div class="col-6">
                                    <label for="">First Name :</label>
                                    <input type="text" name="fname" class="form-control" placeholder="First Name">
                                </div>
                                <div class="col-6">
                                    <label for="">Last Name :</label>
                                    <input type="text" name="lname" class="form-control" placeholder="Last Name">
                                </div>
                                <div class="col-12">
                                    <label for="">Email I'D :</label>
                                    <input type="email" name="email" class="form-control" placeholder="Email I'd">
                                </div>
                                <div class="col-12">
                                    <label for="">Phone Number :</label>
                                    <input type="tel" name="phone" class="form-control" placeholder="7485963210" pattern="[0-9]{10}">
                                </div>
                                <div class="col-12">
                                    <label for="">Company Size :</label>
                                    <select name="company" id="" class="form-control">
                                        <option value="1-5">1-5</option>
                                        <option value="5-10">5-10</option>
                                        <option value="10+">10+</option>
                                    </select>
                                </div>
                                <div class="col-12">
                                    
                                    <input type="submit" name="submit" class="form-submit">
                                </div>
                            </div>
                        </form>
                    </div>                    
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="./assets/js/jquery.min.js"></script>
    <script src="./assets/js/apexcharts.js"></script>
    <script src="./assets/js/chart.js"></script>
    <script src="./assets/js/jquery-jvectormap-1.1.1.min.js"></script>
    <script src="./assets/js/jquery-jvectormap-world-mill.js"></script>
    <script src="./assets/js/index.global.min.js"></script>
    <script>
      feather.replace();
    </script>
    <script>
      $(document).ready(function () {
        $(".user-toggle").click(function () {
          $(".user-link").slideToggle();
        });

        $(".sidebar-dropdown > a").click(function () {
          $(".sidebar-dropdown-menu").slideUp(200);
          if ($(this).parent().hasClass("active")) {
            $(".sidebar-dropdown").removeClass("active");
            $(this).parent().removeClass("active");
          } else {
            $(".sidebar-dropdown").removeClass("active");
            $(this).next(".sidebar-dropdown-menu").slideDown(200);
            $(this).parent().addClass("active");
          }
        });

        $(".toggle-btn").click(function () {
          $(".sidebar").toggleClass("close-sidebar");
        });
      });
    </script>
    <script>
      var markers = [
        { latLng: [41.5, -87.37], name: "Chicago" },
        { latLng: [32.46, -96.46], name: "Dallas" },
        { latLng: [36.1, -115.12], name: "Las Vegas" },
        { latLng: [34.3, -118.15], name: "Los Angeles" },
        { latLng: [40.43, -74.0], name: "New York City" },
        { latLng: [53.41291, -8.24389], name: "Ireland" },
        { latLng: [42.697708, 23.321868], name: "Sofia, Bulgia" },
        { latLng: [40.014986, -105.270546], name: "Boulder, CO" },
        { latLng: [21.17024, 72.831062], name: "Surat, CO" },
      ];

      $(function () {
        $("#map").vectorMap({
          map: "world_mill",
          zoomOnScroll: false,
          hoverOpacity: 0.7,
          markerStyle: {
            initial: {
              fill: "#FFD700",
              stroke: "#383f47",
            },
          },
          markers: markers,
        });
      });

      function addMapPoint(lat, lon, title) {
        removeMapPoint();
        var map = $("#map").vectorMap("get", "mapObject");
        map.addMarkers([{ latLng: [lat, lon], name: title }], []);
      }

      function removeMapPoint() {
        var map = $("#map").vectorMap("get", "mapObject");
        map.removeAllMarkers();
      }

      function generateRandomLong() {
        var num = (Math.random() * 180).toFixed(3);
        var posorneg = Math.floor(Math.random());
        if (posorneg == 0) {
          num = num * -1;
        }
        return num;
      }

      function generateRandomLat() {
        var num = (Math.random() * 90).toFixed(3);
        var posorneg = Math.floor(Math.random());
        if (posorneg == 0) {
          num = num * -1;
        }
        return num;
      }

      window.setInterval(function () {
        var lon = generateRandomLong();
        var lat = generateRandomLat();

        addMapPoint(lat, lon, lat + "," + lon);
      }, 2500);
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var calendarEl = document.getElementById("calendar");
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: "dayGridMonth",
        });
        calendar.render();
      });
    </script>
  </body>
</html>
