<%- include('header') %>

    <!-- Page Sidebar Ends-->
    <div class="page-body">
        <div class="container-fluid">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <h3>Category Details</h3>
                    </div>
                    <div class="col-12 col-sm-6">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"> <i data-feather="home"></i></a></li>
                            <li class="breadcrumb-item">Category</li>
                            <li class="breadcrumb-item active">Add Category</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-xl-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header pb-0">
                                    <h5>Add Category Details</h5>
                                </div>
                                <div class="card-body">
                                    <form class="theme-form" action="/category/insertCategoryData" method="POST" enctype="multipart/form-data">
                                        <div class="mb-3 row">
                                            <label class="col-sm-3 col-form-label" for="inputPassword3">Category Name</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" id="url" type="text" name="cname"
                                                    placeholder="Enter Your First Name">
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-sm-3 col-form-label" for="fileUpload">Category Image</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" type="file" id="fileUpload" aria-label="file example" required="" name="cimage">
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <button class="btn btn-primary">Add Category</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Container-fluid Ends-->
    </div>

    <%- include('footer') %>