<%- include('header') %>

    <!-- Page Sidebar Ends-->
    <div class="page-body">
        <div class="container-fluid">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <h3>Change Password</h3>
                    </div>
                    <div class="col-12 col-sm-6">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"> <i data-feather="home"></i></a></li>
                            <li class="breadcrumb-item">Profile Settings</li>
                            <li class="breadcrumb-item active">Change Password</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-xl-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header pb-0">
                                    <h5>Change Your Password</h5></span>
                                </div>
                                <div class="card-body">
                                    <form class="theme-form" method="post" action="/checkChangePassword">
                                        <div class="mb-3 row">
                                            <label class="col-sm-3 col-form-label" for="oldPassword">Old Password</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" type="password" name="oldPassword"
                                                    placeholder="Enter Your Old Password">
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-sm-3 col-form-label" for="newPassword">New Password</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" type="password" name="newPassword"
                                                    placeholder="Enter Your New Password">
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-sm-3 col-form-label" for="confirmPassword">Confirm Password</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" type="password" name="confirmPassword"
                                                    placeholder="Re-enter Your New Password">
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <button class="btn btn-primary">Change Password</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Container-fluid Ends-->
    </div>

    <%- include('footer') %>