<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
        <style>
            *{
                margin: 0;
                box-sizing: border-box;
            }
            h1{
                text-align: center;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                margin-bottom: 20px;
            }
        </style>
    </head>
    <body>
        <h1>404 Error...</h1>  
        
    </body>
</html>