<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Services Page</title>
        <style>
            *{
                margin: 0;
                box-sizing: border-box;
            }
            h1{
                text-align: center;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                margin-bottom: 20px;
            }
            nav{
                margin-bottom: 30px;
            }
            nav ul{
                display: flex;
                justify-content: center;
                column-gap: 40px;
                list-style: none;
                padding-left: 0;
            }
            nav ul li a{
                text-decoration: none;
                display: block;
                font-size: 18px;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                color: steelblue;
                font-weight: 600;
            }
        </style>
    </head>
    <body>
        <h1>Welcome to Services Page...</h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/service">Service</a>
                </li>
                <li>
                    <a href="/blog">Blog</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </nav>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga enim culpa, maxime necessitatibus assumenda odit, nobis recusandae quas minima, nesciunt voluptate nulla asperiores tempora laborum aperiam facere excepturi praesentium fugiat veniam eveniet harum reprehenderit nihil aliquid tenetur? Repellendus officiis totam reiciendis laboriosam quidem numquam unde saepe? Incidunt est nemo a ex amet fugit culpa aliquam, quae illo? Molestias unde omnis, ex corrupti sed error ipsam quidem dolorum, facere quasi quae magni. Perferendis fuga libero in accusamus consequatur error est animi accusantium repellat, ipsa fugit adipisci necessitatibus consequuntur, eius eum? Alias suscipit earum sint officia, eaque ipsam dolores nemo illum minima provident nam quae quisquam esse velit magni veniam? Ex fugiat minus hic! Odio blanditiis commodi sequi labore aspernatur optio, sapiente ab tenetur minima ratione laborum voluptate, laboriosam amet, voluptatem quo id dolores dolorem nemo repellendus impedit accusantium. A doloremque nam odio omnis corrupti officia earum voluptates. Nam consequatur quod, nesciunt quas sequi alias dolorum similique reprehenderit beatae exercitationem? Repellat aut impedit quam incidunt quas voluptatem nemo deserunt et nesciunt, consectetur possimus itaque blanditiis recusandae laboriosam officiis dolores enim delectus libero doloribus. Nam deleniti ut tempore iusto quis voluptatibus, explicabo obcaecati minima expedita pariatur magnam accusamus. Consequuntur expedita ad nam officiis alias, provident veniam distinctio. Aut porro perferendis iusto. Est rem perspiciatis nesciunt officia deleniti dolorum recusandae fugiat cumque at distinctio? Tempore natus modi rem maxime accusantium mollitia quam amet illo explicabo sapiente. Nemo est iusto esse, in quasi ullam quam repellendus reprehenderit soluta, sequi vel fuga saepe possimus, vero nulla ut numquam fugiat eaque! Tempore porro animi nesciunt ab. Aspernatur fugit architecto officia excepturi adipisci alias, in et iure quas tempora laudantium sed vel beatae ab reiciendis illum odit at illo sit numquam ipsa facere ea incidunt? Tenetur voluptatum accusantium aliquam! Autem nihil tempora numquam tempore quidem vitae quisquam. Tempora eum nihil at exercitationem nemo laudantium distinctio vero ut dolore nobis eveniet ipsa beatae optio obcaecati sit, earum qui quod dolor ipsum accusantium similique dignissimos nulla deserunt. Error porro optio impedit rerum facilis! Eos aliquam pariatur aut alias recusandae veritatis id, nostrum rem expedita non sequi corrupti aspernatur laborum doloribus et deleniti animi officia praesentium autem atque perferendis architecto, cum corporis ut? Quos corporis saepe fugiat esse aliquam at, suscipit culpa, pariatur sit minima beatae, veniam officiis repellendus soluta reprehenderit delectus maxime illo tempora? Expedita quibusdam ullam ipsa! Porro perferendis voluptatem ullam impedit minima cum nemo ex necessitatibus molestias consequatur qui eius molestiae ad laudantium delectus alias, quo mollitia neque quas. Harum dolorem at autem nesciunt id fuga deleniti numquam voluptatem praesentium quis nihil reprehenderit ducimus magni eius, itaque consequatur modi amet pariatur blanditiis eligendi ipsam illo deserunt? Illum, sed aliquam! Ad eius, corporis saepe nihil molestias perspiciatis magnam possimus eaque laudantium odio explicabo nisi vel rem optio? Deserunt exercitationem id ipsum minus similique distinctio sunt, at aspernatur ex repellat iusto praesentium quae mollitia sapiente aut suscipit qui! Nisi, reiciendis dolore odit ut laudantium alias cupiditate optio. Distinctio accusamus molestiae asperiores sint vero neque quisquam laborum inventore molestias? Nostrum, dicta!</p>
    </body>
</html>